
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://acedixon.com/wp-content/uploads/2017/03/a-10.jpg');">
  <div class="banner-content">
    <h2>BET FRIENDS</h2>
    <h4>Chaud pour prendre de l'argent à tes amis?</h4>
    <a class="btn btn-primary btn-lg" href="default.asp">Pire que Chaud !</a>
  </div>
</div>



